
$bg-content-color: #ffffff1a;
$border-box: rgba(255, 255, 255, 0.2);
$border-primary: rgba(255, 255, 255, 0.1);
$layout-bg: #37075d;
$link-text-hover: #d8987f;
$modal-scrollbar: rgba(87, 64, 59, 0.8);
$player-bg: rgba(0, 0, 0, 0.2);
$purple-primary: #ed2b91;
$primary-bg: #6a39af;
$sidebar-popup-bg: #572f90;
$text-color: #fff;
$text-item-hover: #fff;
$tab-active-color: rgba(255, 255, 255, 0.3);
$text-secondary: rgba(255, 255, 255, 0.5);
$navigation-text: #dadada;
$placeholder-text: #dadada;

$sidebar-width: 240px;
$container-width: 1130px;
$header-height: 70px;

$mobile-width: 740px;
$tablet-width: 1024px;
$pc-low-width: 1136px;

$height-sidebar: calc(100% - 9rem);
$height-sidebar-below: calc(100% - 35.1rem);

$tablet-sidebar-width: 7rem;
$tablet-height-sidebar-below: calc(100% - 43.1rem);