.user_songs_songs,
.user_playlist,
.user_mv,
.user_artists,
.user_upload {
    margin-bottom: 10rem;
}

/* user */
.user_overview_playlist,
.user_overview_mv,
.user_overview_songs,
.user_overview_artists {
    margin-bottom: 4rem;
}

.user_info {
    width: 100%;
    margin-bottom: 4rem;
    padding: 0 3rem;
    @include flex(center, center);
    flex-direction: column;
    position: relative;

    &_image {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    &_name {
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.8rem;
        margin: 10px 0 5px;
        color: $text-color;
    }
}

.user_vouchers {
    position: absolute;
    top: 0;
    right: 3rem;

    
    &_buying {
        font-size: 1.2rem;
        background-color: #f8e71c;
        padding: 0.6rem 2rem;
        border-radius: 2rem;
        margin-right: .6rem;
        cursor: pointer;
    }

    &_entering  {
        font-size: 1.2rem;
        color: $text-color;
        background-color: $bg-content-color;
        padding: 0.6rem 2rem;
        border-radius: 2rem;
        margin-right: .6rem;
        cursor: pointer;
    }
}

.user_options_icon {
    font-size: 1.6rem;
    color: $text-color;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    background-color: $bg-content-color;
    border: 1px solid $bg-content-color;
    cursor: pointer;
}

/* nav list */

.user_nav {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    padding: 0 5.4rem;

    @include mobile {
        padding: 0 1.4rem;
    }

    .user_nav_list {
        margin: 0 auto;
        padding: .4rem;
        background-color: $bg-content-color;
        border-radius: 2rem;
        @include flex(center, null);

        &_wrapper {
            width: 100%;
            display: flex;
            margin-bottom: 3rem;
        }
    }

    &_item {
        display: inline-block;
        font-size: 1.2rem;
        color: $text-color;
        list-style: none;
        text-align: center;
        min-width: 10rem;
        padding: 0.8rem 2.4rem;
        cursor: pointer;

        @include mobile {
            padding: 0.8rem;
            min-width: calc(100vw / 5);
            font-size: 1.1rem;
            line-height: 1.2rem;
        }

        &.active {
            background-color: $tab-active-color;
            border-radius: 2rem;
        }
    }
}

.user_overview {
    margin-bottom: 10rem;

    &_icon_wrapper {
        width: 3rem;
    }

    &_header {
       @include flex(center, space-between);
        margin-bottom: 2rem;
        position: relative;
    
        &_title {
            font-size: 1.8rem;
            color: $text-color;
            font-weight: 700;
            cursor: pointer;
        }
    }

    &_prev_btn,
    &_next_btn {
        font-size: 2rem;
        color: $text-color;
        margin-left: 3rem;
        cursor: pointer;
    }

    &_custom_upload {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.2rem;
        color: $text-color;
        border: 1px solid $bg-content-color;
    }

    &_custom_upload > label {
        cursor: pointer;
    }

    &_custom_playall {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.2rem;
        color: $text-color;
        background-color: $purple-primary;
        border: 1px solid $purple-primary
    }

    &_custom_icon {
        font-size: 1.4rem;
        margin-right: .3rem;
    }

    &_info_general {
        @include flex(center, null);
        width: 30%;
    }
    
    &_note_icon {
        font-size: 1.8rem;
        color: $text-secondary;
        margin-right: 1.2rem;
    }
    
    &_playing_icon_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        @include flex(center, center);
        background-color: rgba(0,0,0,0.5);
    }
    
    &_playing_icon {
        width: 50%;
    }
    
    &_play_icon {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $text-color;
        background-color: rgba(0,0,0,0.5);
    }

    &_song_image {
        width: 100%;
        height: 100%;
    }

    &_song_info {
        width: 60%;
    }
    
    &_song_name {
        font-size: 1.4rem;
        color: $text-color;
        margin-bottom: .6rem;
    }
    
    &_song_singers {
        font-size: 1.2rem;
        color: $text-secondary;

        &:hover {
            color: $link-text-hover;
            cursor: pointer;
        }
    }
    
    &_song_time {
        font-size: 1.2rem;
        color: #999;
        width: 20%;
    }
    
    &_song_options {
       @include flex(null, flex-end);
        flex: 1;
    }
    
    &_song_icon {
        font-size: 1.3rem;
        color: $text-color;
        padding: 0.8rem 0.9rem;

        &:hover {
            border-radius: 50%;
            background-color: $bg-content-color;
        }

        & > i {
            position: relative;
            top: 2px;
        }
    }

    &_newplay_wrapper {
        background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
        height: 100%;
        border-radius: 0.5rem;
        padding: 0 1rem;
       @include flex(center, center);
        flex-direction: column;
        cursor: pointer;
    }

    &_plus_icon {
        font-size: 5rem;
        color: $text-color;
        margin-bottom: 1.5rem;
    }

    &_new_playlist {
        font-size: 1.4rem;
        color: $text-color;
    }

    &_post_image_wrapper {
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;

        &:hover .user_overview_post_image {
            transform: scale(1.1);
        }

        &:hover .user_post_icon_wrapper {
            display: flex;
        }
        
    }

    &_post_image {
        width: 100%;
        transform: scale(1);
        transition: transform linear .4s;
        cursor: pointer;
    }

    &_post_des {
        font-size: 1.4rem;
        color: $text-color;
        margin: 0.8rem 0 0.6rem;
        cursor: pointer;
    }

    &_post_creator {
        font-size: 1.2rem;
        color: $text-secondary;
    }

    &_post_mv_info {
       @include flex(center, null);
        width: 100%;
        margin: 1rem 0;
    }

    &_post_mv_des {
        font-size: 1.4rem;
        color: $text-color;
        margin-bottom: 0.5rem;
        font-weight: 600;
        cursor: pointer;
        display: inline-block;
    }

    &_post_artist {
        color: $text-secondary;
        font-size: 1.2rem;
        cursor: pointer;
    }

    &_artist_image_wrapper {
        border-radius: 50%;
        overflow: hidden;
    }

    &_artist_name {
        font-size: 1.4rem;
        color: $text-color;
        margin-bottom: 1rem;
        cursor: pointer;
        display: inline-block;
    }

    &_artist_care {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: $text-secondary;
    }

    &_artist_cared {
        font-size: 1.2rem;
        color: $text-color;
        padding: 0.6rem 2rem;
        background-color: $purple-primary;
        display: inline-block;
        border-radius: 2rem;
        cursor: pointer;
    }

}

.artist_info_des_wrapper {
    text-align: center;
    margin-top: 1.5rem;
}

.artist_star_icon {
    font-size: 1.2rem;
    position: relative;
    top: -2px;
    margin-left: 4px;
}

#user_overview_upload_input {
    display: none;
}

// songs
.user_overview_content {
    display: flex;
    width: 100%;

    &_posts {
        width: inherit;
        display: flex;
        flex-wrap: wrap;
    }

    &_songs {
        height: 24.4rem;
        flex: 1;
        overflow: hidden;

        &:hover {
            overflow: hidden overlay;
        }
        
        &::-webkit-scrollbar {
            width: .4rem;
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: .4rem;
            background-color: #ccc;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background-color: #8f8e8e;
        }
    } 
    
    &_song {
        list-style: none;
       @include flex(center, space-between);
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid $bg-content-color;
        border-radius: .4rem;
        cursor: pointer;

        &:hover .user_overview_play_icon{
            display: flex;

            @include tablet {
                display: none;
            }

            @include mobile {
                display: none;
            }
        } 

       &:hover {
            background-color: $bg-content-color;

            @include tablet {
                background-color: unset;
            }

            @include mobile {
                background-color: unset;
            }
        }
        
       &.active {
            background-color: $bg-content-color;

            @include tablet {
                & .user_overview_play_icon {
                    display: flex !important;
                }
            }

            @include mobile {
                & .user_overview_play_icon {
                    display: flex !important;
                }
            }
        }
        
       &.playing .user_overview_play_icon{ 
            display: none !important;
        }
        
       &.playing .user_overview_playing_icon_wrapper { 
            display: flex !important;
        }

    }
 
}

.user_songs_content_songs {
    height: unset;
}

.user_songs_content_song {
    justify-content: space-between;
}

.user_overview_song_image_wrapper {
    @include flex(center, null);
    width: 55%;
    overflow: hidden;
}

.user_overview_song_image_inner {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: .4rem;
}

.user_post {

    &_icon_wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

       &:hover {
            background-color: rgba(0,0,0,0.5);
        }
    }
    
    &_heart_icon {
        padding: 1rem 0.8rem 0.4rem;
        font-size: 1.8rem;
        color: $text-color;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    
    &_options_icon {
        font-size: 1.8rem;
        color: $text-color;
        cursor: pointer;
        padding: 0.6rem 0.8rem;

       &:hover {
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
       }
    }

    &_play_fill_icon_circle {
        cursor: pointer;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        border: 1px solid $text-color;
       @include flex(center, center);
        margin: 0 2rem;
    }

    &_play_fill_icon {
        color: $text-color;
        font-size: 3rem;
        margin: 0 1rem;
        position: relative;
        top: 1px;
        left: 2px;
    }

}

.songs_icon {
    font-size: 1.8rem;
    color: $text-secondary;
}

.mv-x-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $text-color;
    font-size: 2rem;
    padding: 0.6rem 0.6rem 0.3rem;
}

.user_mv_time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: $text-color;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
}

.mv_info_des_wrapper {
    flex: 1;
}

